/* Global Styling =========================================================================== */
* { 
    margin:0 auto; 
    padding: 0; 
    box-sizing: border-box; 
}

body {
	background-color:#EE6055;
}

/* Landing Page ======================================================================== */
.playing-area {
	background-color: #AAF683;
	color:#3E875F;
	display: flex;
	font-family: "Open Sans", sans-serif;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
	padding:50px 30px;
	min-height: 100vh;
	width: 80vw;
	box-shadow: 10px 10px 100px #6D2C27;
}

h1, h2, button {
	font-family: "Luckiest Guy", serif;
}

h1 {
	font-size: 120px;
	color:#3E875F;
	letter-spacing: 5px;
}

.welcome-p {
	font-size: 17px;
	max-width: 700px;
	padding:10px 0;
}

/*Buttons ================================== */
button {
	background-color: #3E875F;
	padding:20px 20px 15px 20px;
	cursor: pointer;
	font-size:25px;
	border-radius: 10px;
	color:#FFF5F3;
	border:none;
	box-shadow: 3px 3px 5px #3E875F;
}

button:hover{
	transform: scale(.98);
	box-shadow: 1px 1px 5px #3E875F;
	transition: .15s;
	background-color:#377955;
}

#start-button{
	margin-top:20px;
}

#done-div {
	margin-top:50px;
}


/*Game Board =======================================================*/
h2 /*Trivia Questions*/{
	padding:30px;
	font-size:30px;
	color:white;
	letter-spacing: 3px;
	background-color:#377955;
	margin: 70px 0 20px 0;
	box-shadow: 5px 5px 5px #88c468;
}

input[type="radio"]{
	margin:20px 10px 10px 50px;
}

.timer-p/*Timer*/ {
	font: 30px "Luckiest Guy", sans-serif;
	position: fixed;
	top:1vh;
	right:1vw;
	width:85px;
	background-color:#AAF683;
	padding:25px 20px 20px 20px;
	border-radius: 5px;
	box-shadow: 5px 5px 20px #6D2C27;
}

#scoreboard-div {
	padding:20px;
}

h6 {
	max-width:300px;
	margin:50px 0;
}


/*Mobile Responsive ================================================*/
@media only screen and (max-width: 600px) {
	.playing-area{
		width: 100vw;
		justify-content: center;
		padding:50px 10px;
	}
    h1{
		font-size:60px;
	}
	h2{
		font-size: 20px;
		padding:30px 5px;
		margin:50px 0 10px 0;
	}
	input[type="radio"]{
		margin:20px 10px 10px 20px;
	}
	.timer-p/*Timer*/ {
		background-color:#EE6055;
		color:#6D2C27;
	}
}
