body{
	background-color:lightpink;
}

#right-side{
	text-align: right;
	margin-top:80px;
}

h1{
	font-family: "Oswald", sans-serif;
	color:white;
	font-size: 100px;
}

h2{
	font-family: "Oswald", sans-serif;
	color:white;
	font-size: 20px;
	margin-top:30px;
}

p{
	font-family:"Cantarell", sans-serif;
	color:white;
	margin-top:30px;
}

button{
	background-color: lightpink;
	color:white;
	border:2px solid white;
	font-size: 20px;
	font-family:"Oswald", sans-serif;
	margin-top:10px;
	margin-bottom: 50px;
}

#trivia-div{
	font-family:"Cantarell", sans-serif;
}






